@charset "utf-8";
/* CSS Document */
.busqueda_form {
	width: 100%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.busqueda_form fieldset {
	border: thin solid #D8D8D8;
	border-radius: 6px;
	background-color: #FAF9F9;
	margin-left: 10px;
	margin-right: 10px;
	min-width: 400px !important;
	max-width: 950px !important;
}
.busqueda_form legend {
	font-size: small;
	margin-left: 10px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}
.busqueda_form ul { list-style: none; }
.busqueda_form ul li label {
	font-size: medium;
	text-transform: capitalize;
}
.busqueda_form input[type="submit"], input[type="submit"]:focus{
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
	height: 30px;
}
.busqueda_form input[type="submit"]:hover { cursor: pointer; 
}
.busqueda_form input[type="submit"]:active {
	color: #356b0b;
	box-shadow: inset 0 0;
	-webkit-box-shadow: inset 0 0;
	-ms-box-shadow: 0 0 2px 2px #356b0b inset;
	-o-box-shadow: 0 0 2px 2px #356b0b inset;
}
